@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html,
body,
button {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}


a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
}